@import "../../styles/Responsive.scss";

.propertiez{
    padding: 5rem 8%;

    h1{
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 1rem;
    }

    p{
        line-height: 25px;
        margin-bottom: 5rem;
    }
}