@import "../../styles/Responsive.scss";

.apInfo {
  padding-inline: 8%;
  margin-block: 2rem;
  margin-top: 9rem;

  @include Tablet {
    padding-inline: 2rem;
  }

  .prev {
    width: 20px;
    margin-bottom: 1rem;

    @include Tablet {
      width: 16px;
    }
  }

  header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;


    a {
      color: #333;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 2px;

      @include Tablet {
        font-size: 10px;
      }
    }

    img {
      width: 12px;

      @include Tablet {
        width: 10px;
      }
    }

    p {
      text-transform: capitalize;
      font-weight: bold;
      color: rgb(244, 183, 31);
      font-size: 14px;

      @include Tablet {
        font-size: 13px;
      }
    }
  }

  .infoWrapper {
    display: flex;
    align-items: flex-start;
    gap: 2rem;

    @include Mobile {
      flex-direction: column;
          }

    .mainInfo {
      width: 800px;

      @include Mini {
        width: 500px;
      }

      @include Mobile {
width: 100%;
            }

      .mainImg {
        width: 300px;
        height: 300px;

        @include Tablet {
          width: 200px;
          height: 200px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .scroll {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 2rem;

        img {
          width: 14px;
        }

        p {
          font-size: 11px;
          font-weight: bold;
        }
      }

      .title {
        width: 800px;
        display: flex;
        padding: 1rem 1.5rem;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        align-items: center;
        justify-content: space-between;

        @include Mini {
          width: 100%;
        }

        .left {
          h1 {
            text-transform: uppercase;
            font-size: 15px;
            letter-spacing: 2px;
            color: #206ca0;
            margin-bottom: 0.3rem;

            @include Tablet {
              font-size: 10px;
            }
          }

          .location {
            display: flex;
            align-items: center;
            gap: 0.3rem;

            img {
              width: 18px;

              @include Tablet {
                width: 14px;
              }
            }

            p {
              text-transform: uppercase;
              font-weight: 500;
              color: #333;
              font-size: 13px;
              letter-spacing: 2px;

              @include Tablet {
                font-size: 11px;
              }
            }
          }
        }

        h2 {
          color: #333;
          font-size: 14px;
          letter-spacing: 1px;

          @include Tablet {
            font-size: 11px;
          }
        }
      }

      .statusM {
        margin-top: 2rem;
        width: 100%;
        padding-bottom: 2rem;
        border-bottom: 1px solid #ccc;

        .item {
          display: flex;
          align-items: center;
          gap: 0.4rem;
          margin-bottom: 0.5rem;

          img {
            width: 16px;

            @include Tablet {
              width: 13px;
            }
          }

          p {
            font-weight: 600;
            color: #333;
            font-size: 13px;
            text-transform: capitalize;

            @include Tablet {
              font-size: 10px;
            }

            span {
              &.red {
                color: red;
              }

              &.green {
                color: green;
              }
            }

            .package {
              font-weight: normal;
            }
          }
        }
      }

      .featuredx {
        margin-top: 2rem;
        width: 100%;
        padding-bottom: 2rem;
        border-bottom: 1px solid #ccc;

        h3 {
          font-size: 18px;
          color: #333;
          margin-bottom: 0.5rem;

          @include Tablet {
            font-size: 14px;
          }
        }

        .item {
          display: flex;
          align-items: center;
          gap: 0.4rem;
          margin-bottom: 0.5rem;

          img {
            width: 16px;

            @include Tablet {
              width: 13px;
            }
          }

          p {
            font-weight: 500;
            color: #333;
            font-size: 13px;
            text-transform: capitalize;

            @include Tablet {
              font-size: 10px;
            }
          }
        }
      }

      .desc {
        margin-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #ccc;


        h3 {
          font-size: 18px;
          color: #333;
          margin-bottom: 0.5rem;

          @include Tablet {
            font-size: 14px;
          }
        }

        p {
          font-size: 14px;

          @include Tablet {
            font-size: 11px;
          }
        }
      }
    }
  }
}
