@import "../../styles/Responsive.scss";
.featured{
    .section{

        padding-inline: 8%;
    }

    .searchBox{
        background: #fff;
        display: flex;
        align-items: center;
        gap: 1rem;

        button{
            img{
                width: 25px;
            }
        }

        input{
            width: 350px;
            border: 1px solid #ccc;
            height: 48px;
            padding-inline: 1rem;
            background-color: #f3f2f2;
        }
        
        .inputBox{
            display: flex;
            align-items: center;
            
            button{
                border: 1px solid #206ca0;
                width: 100px;
                height: 48px;
                letter-spacing: 1px;
                background: #206ca0;
                color: #fff;
            }
        }
       

        h1{
            width: 250px;
            color: #fff;
            background: #206ca0;
            text-align: center;
            font-size: 20px;
            margin-right: 2rem;
            padding: 1.5rem 1rem;
            font-weight: 500;
        }
    }
    
    .listing{
        background-color: #f3f2f2;
        padding-block: 6rem;
        color: #333;

        h2{
            font-weight: 600;
            font-size: 22px;
            margin-bottom: 1rem;
        }

        p{
            line-height: 25px;
            margin-bottom: 5rem;
        }

        .cardContainer{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;

            .card{
                background: #fff;
                width: 300px;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                
                &:hover{
                    .cardImage{
                        transform: scale(1.04);
                    }

                    .view{
                        img{
                            transform: scale(1.2);
                        }
                    }
                }
                
                .cardImage{
                    transition: .5s;
                    width: 100%;
                    height: 300px;
                }

                .details{
                    padding: .7rem;

                    .title{
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        margin-bottom: 1rem;

                        h4{
                            font-weight: 500;
                            font-size: 12px;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                        }

                        img{
                            width: 20px;
                            cursor: pointer;
                        }
                    }

                    .location{
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        margin-bottom: .5rem;

                        span{
                            font-size: 14px;
                            color: #206ca0;
                        }

                        img{
                            width: 14px;
                        }

                    }

                    h3{
                        color: #444;
                    }

                 
                }

                .view{
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    display: flex;
                    align-items: center;
                    gap: 0.1rem;
                    background: #ffffff66;
                    padding: 3px;
                    backdrop-filter: blur(2px);
                    border-radius: 2px;

                    img{
                        transition: .5s;
                    }

                    span{
                        font-size: 14px;
                        color: #206ca0;
                    }
                }
                
                .status{
                    color: #fff;
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    font-size: 10px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    padding: 3px;
                    backdrop-filter: blur(2px);

                    &.av{
                         background: rgba(0, 128, 0, 0.491);  
                    }

                    &.na{
                        background: rgba(255, 0, 0, 0.387);
                    }
                }

                .package{
                    position: absolute;
                    font-size: 10px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    padding: 3px;
                    backdrop-filter: blur(2px);
                    left: 1rem;
                    background: #0707074b;
                    color: #fff;
                    top: 17rem;
                  }
            }
        }
    }
}