@import  '../../styles/Responsive.scss';

.dashboard{

    .d-img{
        width: 100%;
        height: 300px;
        position: relative;
        object-fit: cover;

        @include Mobile {
            height: 200px;
          }
    }
}