@import '../../styles/Responsive.scss';

.ctaction{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;

    .container{
        width: 50vh;
        margin: auto;
        h1{
            color: #206ca0;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 1rem;
        }

            .errMsg{
                width: 350px;
                text-align: center;
                font-weight: 500;
                font-size: 14px;
                color: rgb(162, 11, 11);
                background: rgba(189, 47, 47, 0.375);
                padding-block: .5rem;
                margin-bottom: 1rem;
            }
      

        form{

            label{
                font-size: 11px;
                letter-spacing: 2px;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
            }

            .inputWrapper{
                width: 350px;
                border: 1px solid #ccc;
                padding: .5rem 1rem ;
                margin-bottom: .5rem;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                height: 45px;

                img{
                    width: 14px;
                }

                input{
                    width: 100%;
                    font-size: 14px;

                    &::placeholder{
                        color: #bbb;
                        font-size: 13px;
                        letter-spacing: 1px;
                        font-family: inherit;
                    }

                    &:focus{


                        &::placeholder{
                            color: transparent;
                        }
                    }
                }
            }

            button{
                height: 45px;
                width: 350px;
                background: gold;
                text-transform: uppercase;
                font-size: 10px;
                letter-spacing: 2px;
                font-weight:600;
                margin-top: .5rem;
            }

            .guest{
                height: 45px;
                width: 350px;
                background: #000;
                text-transform: uppercase;
                font-size: 10px;
                letter-spacing: 2px;
                font-weight:600;
                color: #fff;
            }
        }

        p{
            font-size: 13px;
            margin-top: 0.5rem;

            a{
                color: #206ca0;
                font-weight: 600;
                font-size: 14px;
                letter-spacing: 1px;
            }
        }
    }

    .exec{
        height: 100%;
        position: relative;

        .modal{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background: #00000091;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            p{
                width: 500px;
                padding: 2rem;
                backdrop-filter: blur(2px);
                background: #ffffff40;
                color: #fff;
                text-shadow: 0 0 2px black;
                line-height: 25px;

                span{
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: 2px;
                    font-weight: bold;
                    
                }
            }
        }

        .bg{
            width:700px;
            height: 100%;
        }

        .logo{
            position: absolute;
            left: 2rem;
            top: 2rem;
            backdrop-filter: blur(2px);
            background: #ffffff27;
            padding: 5px 7px;
            border-radius: 4px;

            span{
                color: #ffffffc2;
            }
        }
    }
}