@import '../../styles/Responsive.scss';

.guestPage{
    margin-bottom: 2rem;

.guestContainer{
    display: flex;
    align-items: flex-start;
    padding-top: 6rem;
    gap: 3rem;

    .guestInfo{
        padding-inline: 8%;
        margin-bottom: 1rem;
        width: 60%;

        form{
            display: flex;
            flex-direction: column;
            width: 370px;
             

            label{
                margin-bottom: 0.5rem;
                font-size: 13px;
            }

            input{
                height: 35px;
                border: 1px solid #ccc;
                margin-bottom: 0.9rem;
                padding-left: 1rem;
            }

            button{
                margin-top: 1rem;
                height: 35px;
                font-size: 10px;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: bold;
                background: gold;
            }
        }

        .guestDisplayInfo{
            padding: 2rem;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            width: 370px;
            border-radius: .5rem;
            background: gold;
            opacity: 0;
            animation: fadeIn 2s 1s forwards;
            p{
                text-transform: uppercase;
                font-size: 13px;
                font-weight: bold;
                margin-bottom: 1rem;

                span{
                    text-transform: capitalize;
                    font-weight: normal;
                    margin-left: 0.2rem;
                }
            }
        }

        .gitop {
            margin-top: 4rem;
            width: 100%;
            padding-bottom: 2rem;
            border-bottom: 1px solid #ffffff59;
            margin-bottom: 3rem;
            background: #333333;
            padding: 2rem;
            color: gold;
            width: 370px;
            border-radius: .5rem;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            border-left: 10px solid gold;

            h1{
                margin-bottom: 1rem;
            }

            img {
              width: 20px;
            }
      
            .info{
              display: flex;
              align-items: center;
              gap: 1rem;
              margin-bottom: 1rem;
      
              p{
                  font-size: 14px;
              }
            }
      
            .socials{
              display: flex;
              align-items: center;
              gap: 1rem;
              margin-top: 2rem;
      
              img{
                  transition: .3s;
                  cursor: pointer;
      
                  &:hover{
                      transform: translateY(-2px);
                  }
              }
            }
      
          }
    }

}
    
}